*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
}
body {
  /*overflow:hidden; evita el scroll en el navegador */
  /*background-color: #47B763;*/
  background: url(../IMG/fondo.jpg);
  background-size: cover; 
  font-family: sans-serif;
}

header{
  /*background: green;*/
  position: relative;
  text-align: center;
  /*margin: 5vh ;*/
  /*font-family:sans-serif;*/
  /*font-size: 30px;*/
  color: red;
  margin: 30px 0;
}
.informacion{
  position: relative;
  text-align: center;
  /*background: yellow;*/
  margin-bottom: 30px;
}
.contenedor{
  /*background: green;*/
}
#contenedor{
  position: relative;
  margin:5vh auto;
  width:1100px;
  height:600px; 
}
#blocklyDiv{
  position: absolute;
  right: 0;
  top: 0;
  width: 700px;
  height: 600px;
}
#botones{
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  background: #ccc;
}
#botones button{
  /*display: inline-block;*/
  /*display:block;*/
  /*margin:20px 8vw;*/
  margin: 20px 5em;
  width: 200px;
  /*z-index: 0;*/
}
#botones a{
  /*display: inline-block;*/
  /*display:block;*/
  margin:20px 5em;
  width: 200px;
}
#lienzo{
  background: url(../IMG/grid.jpg)no-repeat;
  background-size:contain;
  /*background: rgba(0,0,0,.5);*/
}
.pregunta{
  margin: 5vh auto;
  padding-right: 30px;
  font-size: 20px;
}
.desafio{
  margin: 5vh auto;
  padding-right: 30px;
  font-size: 30px;
  /*text-align: center;*/
}
.respuesta{
  position: relative;
  /*text-align: center;*/
  font-size: 30px;
  /*background: red;*/
  margin: 5vh auto;
}
/*.numerador, .denominador,.btnAceptar{
  margin-left: 20px;
}*/
footer{
  text-align: center;
  /*background: blue;*/
  margin:30px 0;
  font-size: 30px;
}